.button, a.button
  display: inline-flex
  align-items: center
  justify-content: center
  height: 6.6rem
  padding-inline: 5.7rem
  border-radius: 2.125rem
  font-size: 1.5rem
  font-weight: 600
  line-height: 1.1
  letter-spacing: -0.05em
  color: var(--color-dark)
  text-decoration: none
  background-color: var(--color-light)
  transition: var(--transition-duration)
  &_accent
    height: 4.5rem
    font-size: 1.4rem
    padding-inline: 3.4rem
    border-radius: 3.4rem
    background-image: linear-gradient(121deg, #38cce8 0%, #044cfe 52%, #8c7afe 100%)
    border: var(--border-grey-10)
    color: var(--color-light)
