.clients
	margin-bottom: 15rem
	.section-title
		margin-bottom: 2rem
	&__description
		margin-bottom: 5rem
		text-align: center
	&__list
		margin-inline: -1rem
		display: flex
		flex-wrap: wrap
		justify-content: center
		align-items: center
		row-gap: 1.6rem
	&__item
		padding-inline: 1rem
		width: calc(100% / 5)
		height: 11rem
		.item__inner
			display: flex
			justify-content: center
			align-items: center
			width: 100%
			height: 100%
			background-color: var(--color-dark-10)
			border-radius: 2.1rem
		img
			width: 17.4rem
			height: 5.8rem
			object-fit: contain
			object-position: center
