.footer
	padding-top: 19rem
	position: relative
	overflow: hidden
	&__bgr
		position: absolute
		width: 254.5rem
		height: 195.4rem
		left: 50%
		top: -15rem
		transform: translateX(-51%)
		background-image: url(@img/footer-blur_3.png)
		background-repeat: no-repeat
		background-size: contain
		z-index: -1
	&__contacts
		display: flex
		flex-direction: column
		align-items: center
		gap: 7.8rem
		margin-bottom: 15rem
	&__title
		text-align: center
	&__links
		display: flex
		width: 100%
		justify-content: center
		gap: 2.5rem
	&__link
		display: flex
		gap: 0.8rem

	&__down
		height: 37rem
		background-color: var(--background-color-grey-5)
		border: var(--border-grey-10)
		backdrop-filter: blur(9rem)
		border-top-left-radius: 6.4rem
		border-top-right-radius: 6.4rem
		position: relative
		overflow: hidden
	&__logo
		position: absolute
		top: 0
		left: 0
		width: 100%
		img
			width: 100%
	&__top.header
		padding-top: 4rem
		margin-bottom: 7rem
	&__copyright
		position: relative
		display: flex
		justify-content: end
		gap: 5.9rem
		font-family: var(--font-family-accent)
		font-weight: 500
		font-size: 1.2rem
		line-height: 1.2
		letter-spacing: -0.03em
		span
			opacity: 0.6
@media (max-width: 1439px)
	.footer
		padding-top: 15rem
		&__contacts
			gap: 6.2rem
			margin-bottom: 11.7rem
		&__links
			gap: 1.6rem
		&__down
			height: 28.8rem
			border-top-left-radius: 5rem
			border-top-right-radius: 5rem
			backdrop-filter: blur(7rem)
		&__top.header
			padding-top: 2.1rem
			margin-bottom: 6.7rem
		&__copyright
			gap: 4.2rem
			font-size: 1rem
		&__bgr
			top: -10.5rem
			width: 194.5rem

@media (max-width: 1119px)
	.footer
		padding-top: 11rem
		&__down
			height: 26.4rem
		&__logo
			top: 2.1rem
		&__top.header
			padding-top: 3rem
			margin-bottom: 5.7rem
		&__copyright
			gap: 4.2rem
		&__bgr
			top: -14.5rem

@media (max-width: 699px)
	.footer
		padding-top: 9.5rem
		&__contacts
			gap: 3.2rem
			margin-bottom: 7.3rem
		&__links
			gap: 1.8rem
		&__down
			height: 21.5rem
			border-top-left-radius: 3.2rem
			border-top-right-radius: 3.2rem
		&__top.header
			padding-top: 2.1rem
			margin-bottom: 6.5rem
		&__bgr
			top: -13.5rem
			transform: translateX(-49%)

@media (max-width: 519px)
	.footer
		padding-top: 7rem
		&__contacts
			gap: 3.5rem
			margin-bottom: 8rem
		&__links
			gap: 1.7rem
			flex-direction: column
			align-items: center
		&__down
			height: 23.1rem
		&__logo
			top: 2.6rem
		&__top.header
			padding-top: 2.2rem
			margin-bottom: 3.7rem
		&__copyright
			justify-content: center
			gap: 2.3rem
		&__bgr
			top: -15rem
